body {
    font-family: 'Inter';
    margin: 0;
}

.navbar {
    display: flex;
    background: #F55A5A;
    padding: 20px;
    justify-content: center;
    gap: 8px;
}

.globe--icon {
    height: 25px;
}

.headline--Text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.075em;
}