body {
    margin: 0;
    font-family: 'Poppins';

}

.navbar {
    background: #FFFFFF;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.abnb-logo {
    padding: 15px 40px;
    height: 45px;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
}

.hero--section {
    max-width: 700px;
    align-self: center;
    margin-bottom: 50px;
}

.online--experiences {
    margin-bottom: 20px;
}

.activities {
    margin-top: 0;
}

.card--section {
    padding: 20px 35px;
}

.card--image {
    border-radius: 9px;
    width: 200px;
    height: 250px;
}

.card--stats {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.star--icon {
    margin-right: 2px;
    height: 14px;
}

.card--ratings {
    margin-right: 2px;
    font-size: 16px;
}

.reviews {
    margin-right: 2px;
}


.cost {
   /* display: inline; 
    align-items: center; */
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}